.endis
{

   width:92%;
   height:710px; 
  background="images/uyeolarkaplan.jpg";
   margin:20px auto;
   border-radius:20px;
  
}








.table-wrapper{
	position:absolute;
    margin: 10px 0 0px 50px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width:1300px;
    height:680px;
    max-width: 100%;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;

}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 15px;
    background:#1234;
    
    

    
}


.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #4FC3A1;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;

}

